{{> mensajes}}
<div class="bg-light" data-new-gr-c-s-check-loaded="14.1041.0" data-gr-ext-installed="" style="overflow: auto; height: 100vh">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-2" src="/img/icono.png" alt="" width="72" height="72">
      <h2>Sell Point CUT</h2>
    </div>

    <div class="row g-5">

      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Carrito</span>
          <span class="badge bg-primary rounded-pill">{{contador}}</span>
        </h4>

        <ul class="list-group mb-3 bg-transparent border-0" id="muestra" style="overflow: auto; height: 250px">
          {{#each detalles}}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{nombre}}</h6>
              <small class="text-muted">x{{cantidad}}</small>
            </div>
            <span class="text-muted">${{subtotal}}</span>
          </li>
          {{/each}}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (MX)</span>
            <strong>${{total}}</strong>
          </li>
        </ul>
        {{#if carrito}}
        <form class="card p-2" id="pagar" action="/tienda/pagar" method="post">
          <div class="col-md d-grid gap-2">
            <button type="button" class="btn btn-block btn-outline-success" onclick="javascript:window.imprimir()">Pagar</button>
          </div>
        </form>
        {{/if}}
      </div>

      <div class="col-md-7 col-lg-8 mt-4">
        <h4 class="mb-3">Escanea tus productos</h4>
        <form action="/tienda">
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="firstName" class="form-label">Ingresa Codigo de Producto </label>
              <input type="text" class="form-control" name="codigo" placeholder="codigo"  required="">
            </div>

            <div class="col-sm-6 d-grid gap-2 p-4">
                <button type="submit" class="btn w-100 btn-lg btn-success">Buscar</button>
            </div>
        </form>
        {{#if mostrar }}
        <form action="/tienda/agregar" method="post">
            <div class="col-sm-6 d-grid gap-2">
                <h3>{{producto.nombre_producto}}</h3>
            </div>

            
            <div class="col-md-5">
              <label for="cantidad" class="form-label">Cantidad</label>
              <input type="number" class="form-control" id="cantidad" name="cantidad" required="true" min="01" max="200" value="1" onclick="recargar()">
            </div>

            <input type="hidden" id="precio" value="{{producto.precio_venta}}" >
            <input type="hidden" name="idproductos" value="{{producto.idproductos}}" >
            <input type="hidden" name="precioV" value="{{producto.precio_venta}}" >

            <div class="col-md-5 mt-5">
                <h4 id="subtotal">Subtotal: ${{producto.precio_venta}}</h4>
            </div>

            <script type="text/javascript">
              //Función recargar que cambia lo que hay en id="subtotal" por el contenido nuevo.
              function recargar(){
                  document.getElementById("subtotal").innerHTML = "Subtotal: $"+ (parseFloat(document.getElementById("precio").value) *  parseFloat(document.getElementById("cantidad").value));
              }

              function isNumberKey(evt){
                  var charCode = (evt.which) ? evt.which : evt.keyCode
                  if (charCode > 31 && (charCode < 48 || charCode > 57))
                      return false;
                  return true;
              }
            </script>


            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Agregar al Carrito</button>
        </form>
        {{/if}}
      </div>
    </div>
  </main>

  <footer class="my-2 pt-5 text-muted text-center text-small">
    <p class="mb-1">Creado con <b>amor</b> por los tres Inges👻</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/logout">Salir</a></li>
      {{#if_eq user.id 0}}
      <li class="list-inline-item"><a href="/admin">Admin</a></li>
      {{/if_eq}}
    </ul>
  </footer>

  <script>
function imprimir(){
    var mywindow = window.open('', 'PRINT', 'height=600,width=400');
    mywindow.document.write('<html><head>');
    mywindow.document.write('<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">')
	  mywindow.document.write('<style>.tabla{width:100%;border-collapse:collapse;margin:16px 0 16px 0;}.tabla th{border:1px solid #ddd;padding:4px;background-color:#d4eefd;text-align:left;font-size:15px;}.tabla td{border:1px solid #ddd;text-align:left;padding:6px;}</style>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<div class="py-5 text-center"><img class="d-block mx-auto mb-2" src="/img/icono.png" alt="" width="72" height="72"><h2>Sell Point CUT</h2><p>Ticket de Compra</p></div>');   
    mywindow.document.write(document.getElementById('muestra').innerHTML);
    mywindow.document.write('<div class="py-5 text-center"><p class="mb-1">Creado con <b>amor</b> por los tres Inges👻</p></div>');
    mywindow.document.write('</body></html>');
    mywindow.document.close(); // necesario para IE >= 10
    mywindow.focus(); // necesario para IE >= 10
    mywindow.print(); 
    document.getElementById('pagar').submit();
    return true;
    }
</script> 
</div>

  

</div>