<link rel="stylesheet" href="css/admin.css">
{{> cabeceraAdmin}}
{{> mensajes}}
{{> menuAdmin}}
<div class="container-fluid">
  <div class="row">
    <main class="main ms-auto col-lg-10 px-4 mt-4">
      <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-5">

        <div class="col container mt-4">
              <h3>Modificar usuario</h3>
              <br>

                <form action="/admin/usuario/actualizar/{{usuario.id}}" method="post">
                <div class="form-row">
                  <div class="col-md mb-3">
                    <label for="nombre">Nombre(s)</label>
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{usuario.nombre}}"> 
                    <small class="form-text text-muted">
                      Rescribe el nombre de la persona que deseas modificar!
                    </small>
                  </div>

                  <div class="col-md mb-3">
                    <label for="apellido">Apellido Paterno</label>
                    <input type="text" class="form-control" name="apellidoP" placeholder="Apellido" value="{{usuario.apellido_paterno}}">
                    <small class="form-text text-muted">
                      Ingresa el apellido paterno del usuario!
                    </small>
                  </div>

                  <div class="col-md mb-3">
                    <label for="apellido">Apellido Materno</label>
                    <input type="text" class="form-control" name="apellidoM" placeholder="Apellido" value="{{usuario.apellido_materno}}">
                    <small  class="form-text text-muted">
                      Ingresa el apellido materno del usuario!
                    </small>
                  </div>

                  <div class="col-md mb-0">
                    <label for="user">Correo</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="email" class="form-control" name="correo" placeholder="Email" value="{{usuario.correo}}" >
                    </div>
                  </div>
                </div>
                
                  <div class="col-md mt-4 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-info" >Actualizar Usuario</button>
                  </div>
            </div>
            

  
            <div class="col container">
              <h3>Modificar Contraseña</h3>
              <br>
              <form action="/admin/usuario/password/{{usuario.id}}" method="post">
                <div class="form-row">
                  <div class="col-md mb-3">
                    <label for="nombre">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Contraseña"> 
                    <small class="form-text text-muted">
                      Ingresa una nueva contraseña
                    </small>
                  </div>
                  <div class="col-md mb-0">
                    <label for="apellido">Repetir Contraseña</label>
                    <input type="password" class="form-control" name="password2" placeholder="Repetir">
                    <small class="form-text text-muted">
                      Reingresa la nueva contraseña!
                    </small>
                  </div>
                
                  <div class="col-md mb-3 mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success" >Actualizar Contraseña</button>
                  </div>
                </form>
                <form action="/admin/usuario/eliminar/{{usuario.id}}" method="post">
                  <div class="col-md mt-4 d-grid gap-2">
                    <button type="submit" class="btn btn-outline-danger" >Eliminar Usuario</button>
                  </div>
                </form>
            </div>
            
      </div>
    </main>
  </div>
</div> 